/*Chevron*/
.chevron-right {
    width: 20px;
    height: 20px;
    position: relative;
    left: 5px;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    transform: rotate(45deg);
  }
  .chevron-left {
    width: 20px;
    height: 20px;
    position: relative;
    left: -5px;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    transform: rotate(-135deg);
  }