body {
  background: #138D75;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.app-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;  
}
.category-filter {
  text-align: center;
    padding-left: 3vw;
    padding-top: 6vh;
}
#select-category {
    border: none;
    outline: none;
    padding: 1vh;
}

